</div>
<footer class="footer">
<div class="ui container internal-footer">

	<div class="ui two column grid">
		<div class="row">
			<div class="column">
				<span class="ubi-font">Ubiquity</span>
				<div class="ui list">
					<div class="item"><i class="github icon"></i><div class="content"><a href="https://github.com/phpMv/ubiquity" target="_blank">Ubiquity source code</a></div></div>
					<div class="item"><i class="youtube icon"></i><div class="content"><a href="https://www.youtube.com/channel/UCSn_VzC0QpXCHmGDrw-_REw" target="_blank">Youtube channel</a></div></div>
					<div class="item"><i class="comment outline icon"></i><div class="content"><a href="https://gitter.im/ubiquity-framework/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge" target="_blank">Questions about Ubiquity</a></div></div>
					
				</div>
			</div>
			<div class="column">
				<div class="item"><b>Ubiquity</b> is a web application framework, inspired and respectful of php's logic.</div>
				<div class="item">phpMv © 2023 - <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0 licence</a></div>
			</div>
		</div>
	</div>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/prism.min.js" integrity="sha512-pSVqGtpGygQlhN8ZTHXx1kqkjQr30eM+S6OoSzhHGTjh6DKdfy7WZlo1DNO9bhtM0Imf6xNLznZ7iVC2YUMwJQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/plugins/toolbar/prism-toolbar.min.js" integrity="sha512-YrvgEHAi5/3o2OT+/vh1z19oJXk/Kk0qdVKbjEFl9VRmcLTaWRYzVziZCvoGpJ2TrnV7rB8pnJcz1ioVJjgw2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js" integrity="sha512-pUNGXbOrc+Y3dm5z2ZN7JYQ/2Tq0jppMDOUsN4sQHVJ9AUQpaeERCUfYYBAnaRB9r8d4gtPKMWICNhm3tRr4Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/components/prism-markup-templating.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/components/prism-php.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/components/prism-batch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/components/prism-twig.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>
{{ js("js/sticksy.min.js")}}
</body>
</html>