<!DOCTYPE html>
<html lang="en">
<head>
<base href="{{config["siteUrl"]}}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="php, framework, ui framework, MVC, rich components, visual components, jquery, ui, library, semantic-ui, bootstrap">
<meta name="description" content="php rapid development framework">
<meta name="google-site-verification" content="P64Ij9MTF8JCljAWyHks9xTUyn55yEF6_CRw4ahkikw" />
<title>ubiquity framework</title>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.26.0/plugins/toolbar/prism-toolbar.min.css" integrity="sha512-Dqf5696xtofgH089BgZJo2lSWTvev4GFo+gA2o4GullFY65rzQVQLQVlzLvYwTo0Bb2Gpb6IqwxYWtoMonfdhQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	{{ css("css/prism-atom-dark.css")}}
	{{ css("css/styles.css")}}
<link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
<header id="menu-sticky" class="">
	<div class="ui inverted segment header-top">
		<div class="ui container">
			<div class="ui inverted secondary menu">
				<a class="active item index" href="/">
				Home
				</a>
				<a href="#" class="item features">Features</a>
				<a class="item" target="_blank" href="https://micro-framework.readthedocs.io/en/latest/?badge=latest">Guide</a>
				<a class="item" target="_blank" href="https://api.kobject.net/ubiquity/">Documentation API</a>
				<div class="right menu">
					<a href="https://github.com/phpMv/ubiquity" target="new" class="ui item">
						<i class="github icon"></i>
						Ubiquity on github
					</a>
					<div class="ui item">Current version: <span class="ui yellow-bg-color label">2.5.2</span></div>
				</div>
			</div>
		</div>
	</div>
	<div id="small-header" style="display:none;">
    			<div class="ui container">
    				<h1>UDuck</h1>&nbsp;&nbsp;<span>php rapid development framework</span>
    			</div>
    </div>
	<div id="big-header">
		<div class="ui container">
			<div class="ui two column grid">
				<div class="ui column">
					<img src="assets/images/logo.png" style="width:249px" alt="Ubiquity logo">
					<p>php rapid development framework</p>
				</div>
				<div class="ui right aligned column">
					<img src="assets/images/u-with-duck.png" style="height:95px;" alt="Ubiquity duck">
				</div>
			</div>
		</div>
	</div>
</header>
<div class="ui main container">
